{% extends 'base.html.twig' %}

{% block title %}Hello ProduitLaitierController!{% endblock %}

{% block body %}


<div class="presentation">
    <h1>Fromage caucasien</h1>
    Notre fromage caucasien est élaboré selon des méthodes traditionnelles venues du Caucase, 
    mais avec un lait 100 % français, issu des prairies d’Alsace. 
    Ce mélange harmonieux
    de savoir-faire ancestral et de la richesse du lait alsacien donne naissance à un fromage unique,
    au goût authentique et inimitable. 
    Laissez-vous séduire par l’alliance subtile des saveurs caucasiennes 
    et de la qualité reconnue des produits français.
    <h1>Liste des produits laitiers</h1>
    <a href="{{ path('add_fromage')}}">Ajoutet produit</a>
    
    {% for fromage in fromages %}
        <h3>{{ fromage.name }}</h3>
        <p>{{ fromage.prix }}</p>
        <div class="ajout-fromage">
            {% if fromage.images|length > 0 %}
                <img src="{{ asset(fromage.images[0].url) }}" alt="Image de {{ fromage.name }}">
            {% endif %}
            <a href="{{ path('remove_fromage', {'id': fromage.id})}}">Supprimer</a>
        </div>
    {% endfor %}
</div>


{% endblock %}
